@use 'sass:map';

$sizes: (
  "xs": 320px,
  "sm": 576px,
  "md": 768px,
  "ml": 845px,
  "lg": 992px,
  "xl": 1200px
);

$font-sizes: (
  "destTitle": 48px,
  "mobileTitle": 24px,
);

@mixin responsive-font($key) {
  font-size: map-get($font-sizes, "mobileTitle");

  @media (min-width: 768px) {
    font-size: map-get($font-sizes, $key);
  }
}



@mixin media($point) {
  @if map.has-key($sizes, $point) {
    @media (max-width: map.get($sizes, $point)) {
      @content;
    }
  } @else {
    @warn "⚠️ Брейкпоинт `#{$point}` не найден.";
  }
}
