<section class="cases">
    <div class="cases__container">
        <div class="cases__titlebox">
            <h2 class="cases__title title">
                В каких областях используется наша продукция
            </h2>
            <div class="cases__navigation">
                <svg
                    class="cases__navigation_prev"
                    width="63"
                    height="30"
                    viewBox="0 0 63 30"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M62 15H4"
                        stroke="#025288"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M8 20L3 15L8 10"
                        stroke="#025288"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
                <svg
                    class="cases__navigation_next"
                    width="63"
                    height="30"
                    viewBox="0 0 63 30"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M3 15H61"
                        stroke="#025288"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M57 10L62 15L57 20"
                        stroke="#025288"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
        </div>
        <div class="cases__swiper swiper-container">
            <div class="cases__wrapper swiper-wrapper">
                <div class="cases__slide swiper-slide">
                    <div class="cases__slide_img">
                        <img src="../img/webp/cases01.webp" alt="mettalurgy" />
                    </div>
                    <div class="cases__slide_content">
                        <h3>Металлургия</h3>
                        <p>
                            Негашёная известь используется как флюс: она снижает
                            температуру плавления шлаков, связывает кислые
                            примеси и улучшает их текучесть.
                        </p>
                    </div>
                </div>
                <div class="cases__slide swiper-slide">
                    <div class="cases__slide_img">
                        <img src="../img/webp/cases02.webp" alt="mettalurgy" />
                    </div>
                    <div class="cases__slide_content">
                        <h3>Строительство и строительные материалы</h3>
                        <p>
                            Используется для приготовления строительных
                            растворов и производства силикатных материалов.
                            Улучшает прочность, пластичность и долговечность
                            конструкций.
                        </p>
                    </div>
                </div>
                <div class="cases__slide swiper-slide">
                    <div class="cases__slide_img">
                        <img src="../img/webp/cases03.webp" alt="mettalurgy" />
                    </div>
                    <div class="cases__slide_content">
                        <h3>Производство автоклавного газобетона</h3>
                        <p>
                            Обеспечивает образование пор и прочной структуры
                            газобетонных блоков.
                        </p>
                    </div>
                </div>
                <div class="cases__slide swiper-slide">
                    <div class="cases__slide_img">
                        <img src="../img/webp/cases04.webp" alt="mettalurgy" />
                    </div>
                    <div class="cases__slide_content">
                        <h3>Очистка воды и сточных вод</h3>
                        <p>
                            Нейтрализует кислоты и способствует удалению
                            загрязнений, улучшая качество воды.
                        </p>
                    </div>
                </div>
                <div class="cases__slide swiper-slide">
                    <div class="cases__slide_img">
                        <img src="../img/webp/cases05.webp" alt="mettalurgy" />
                    </div>
                    <div class="cases__slide_content">
                        <h3>Сельское хозяйство</h3>
                        <p>
                            Снижает кислотность почвы и применяется для
                            санитарной обработки сельскохозяйственных объектов.
                        </p>
                    </div>
                </div>
            </div>
            <div class="cases__pagination swiper-pagination">
                
            </div>
        </div>
    </div>
</section>
