<section class="contacts">
    <div class="contacts__container">
        <div class="contacts__bg bg">
            <div class="contacts__bg_wrapper bg__wrapper">
                <img src="../img/webp/contacts-bg.webp" alt="about-bg" />
            </div>
        </div>
        <div class="contacts__breadcrumbs breadcrumbs">
            <a href="index.html">Главная</a>
            <img src="../img/svg/chevron-right.svg" alt="chevron-right" />
            <span>Контакты</span>
        </div>
        <h1 class="contacts__title prod__title">контакты</h1>
    </div>
    <div class="contacts__content">
        <div class="contacts__container">
            <div class="contacts__columns">
                <div class="contacts__info">
                    <div class="contacts__content_title title">
                        сп ооо tiashan industries
                    </div>
                    <p class="contacts__address">
                        Джизакская область, Форишский район, Эгизбулок МФЙ 3
                        сектор
                    </p>
                    <div class="contacts__info_links">
                        <div>
                            <a
                                href="+998953407050"
                                class="contacts__info_links-phone"
                            >
                                <img src="../img/svg/phone.svg" alt="phone" />
                                +998 95 340 70 50
                            </a>
                        </div>
                        <div>
                            <a
                                href="mailto:tianshanllc@gmail.com"
                                class="contacts__info_links-mail"
                            >
                                <img src="../img/svg/mail.svg" alt="mail" />
                                tianshanllc@gmail.com
                            </a>
                        </div>
                    </div>
                    <div class="contacts__socials">
                        <a href="##"
                            ><img
                                src="../img/webp/whatsapp.webp"
                                alt="whatsapp"
                        /></a>
                        <a href="##"
                            ><img
                                src="../img/webp/telegram.webp"
                                alt="telegram"
                        /></a>
                        <a href="##"
                            ><img src="../img/webp/youtube.webp" alt="youtube"
                        /></a>
                        <a href="##"
                            ><img
                                src="../img/webp/facebook-color.webp"
                                alt="facebook"
                        /></a>
                        <a href="##"
                            ><img
                                src="../img/webp/instagram.webp"
                                alt="instagram"
                        /></a>
                    </div>
                </div>
                <div class="contacts__map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d386196.79933872656!2d66.94971835331498!3d40.868308036386644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1772076208972!5m2!1sru!2s"
                        width="600"
                        height="450"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
