<header class="header">
    <a href="##" class="header__logo">
        <img class="desktop-only" src="../img/webp/logo.webp" alt="logo" />
        <img class="mobile-only" src="../img/webp/mobile-logo.webp" alt="logo" />
    </a>
    <div class="header__menu">
        <ul class="header__top">
            <li class="header__top_address">
                <p>
                    Джизакская область, Форишский район, Эгизбулок МФЙ 3 сектор
                </p>
            </li>
            <li class="header__top_number">
                <a href="tel:+998953407050">+998 95 340 70 50</a>
            </li>
            <li class="header__top_languages">
                <a href="##">
                    RU
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M6 9L12 15L18 9"
                            stroke="white"
                            stroke-width="2"
                            stroke-linecap="square"
                            stroke-linejoin="round"
                        />
                    </svg>
                </a>
                <ul class="header__languages_list">
                    <li>EN</li>
                    <li>UZ</li>
                    <li>RU</li>
                </ul>
            </li>
        </ul>
        <nav class="header__nav">
            <ul class="header__nav_list">
                <li class="header__nav_item">
                    <a href="##">о компании</a>
                </li>
                <li class="header__nav_item">
                    <a href="##">о производстве</a>
                </li>
                <li class="header__nav_item">
                    <a href="##" id="production"> продукция</a>
                </li>
                <div class="header__nav_item-inner">
                    <h3 class="mobile-only">
                        <img
                            src="../img/svg/chevron-left.svg"
                            alt="chevron-left"
                        />
                        продукция
                    </h3>
                    <li><a href="##">Известь негашеная комовая</a></li>
                    <li>
                        <a href="##">Известь негашеная порошкообразная</a>
                    </li>
                    <li>
                        <a href="##"
                            >Известь гашеная гидратная (пушонка)
                            порошкообразная</a
                        >
                    </li>
                    <li>
                        <a href="##">известняк дробленый фракционный</a>
                    </li>
                </div>
                <li class="header__nav_item">
                    <a href="##">контакты</a>
                </li>
                <button class="header__nav_submit">Оставить заявку</button>
            </ul>
        </nav>
    </div>
    <div class="header__burger mobile-only">
        <span></span>
    </div>
</header>
