<section class="limestone">
    <div class="limestone__container">
        <div class="limestone__bg bg">
            <div class="limestone__bg_wrapper bg__wrapper">
                <img src="../img/webp/fraction-bg.webp" alt="about-bg" />
            </div>
        </div>
        <div class="limestone__breadcrumbs breadcrumbs">
            <a href="index.html">Главная</a>
            <img src="../img/svg/chevron-right.svg" alt="chevron-right" />
            <span>Продукция</span>
            <img src="../img/svg/chevron-right.svg" alt="chevron-right" />
            <span>Известняк дробленый фракционный</span>
        </div>
        <h1 class="limestone__title prod__title limestone__title-4">
            Известняк дробленый фракционный
        </h1>
    </div>
    <div class="limestone__content">
        <div class="limestone__container">
            <div class="limestone__fraction_title title">
                Дроблёный известняк — природный материал, получаемый дроблением
                осадочной породы известняка (CaCO₃).
            </div>
            <div class="limestone__fraction_subtitle">
                Отличается высокой прочностью, химической стабильностью и широко
                применяется в промышленности и строительстве.
            </div>
            <div class="limestone__fraction_blue-title title">
                Основные направления использования
            </div>
            <div class="limestone__item">
                <div class="limestone__tabs">
                    <span class="limestone__tab active"
                        >Производство извести и цемента</span >
                    <span class="limestone__tab"
                        >Химическая промышленность</span
                    >
                    <span class="limestone__tab">Сельское хозяйство</span>
                    <span class="limestone__tab"
                        >Строительство и дорожные работы</span
                    >
                </div>
                <div class="limestone__tabs_content content active">
                    <div class="limestone__tabs_content-column">
                        <h3 class="limestone__tabs_content-title blue-title">
                            Производство извести и цемента
                        </h3>
                        <p class="limestone__tabs_content-subtitle">
                            Роль известняка:
                        </p>
                        <ul>
                            <li>
                                Основное сырьё для выпуска негашёной и гашёной
                                извести
                            </li>
                            <li>
                                Ключевой компонент при производстве цементного
                                клинкера
                            </li>
                            <li>
                                Минеральная добавка, регулирующая свойства
                                цементных смесей
                            </li>
                        </ul>
                    </div>
                    <div class="limestone__tabs_content-image">
                        <img src="../img/webp/tab01.webp" alt="production" />
                    </div>
                </div>
                <div class="limestone__tabs_content content">
                    <div class="limestone__tabs_content-column">
                        <h3 class="limestone__tabs_content-title blue-title">
                            Химическая промышленность
                        </h3>
                        <p class="limestone__tabs_content-subtitle">
                            Роль известняка:
                        </p>
                        <ul>
                            <li>Сырьё для кальцийсодержащих реагентов</li>
                            <li>
                                Нейтрализация кислот в технологических процессах
                            </li>
                            <li>Производство соды (процесс Сольве)</li>
                            <li>
                                Наполнитель и минеральная добавка в химических
                                смесях
                            </li>
                        </ul>
                    </div>
                    <div class="limestone__tabs_content-image">
                        <img src="../img/webp/tab02.webp" alt="production" />
                    </div>
                </div>
                <div class="limestone__tabs_content content">
                    <div class="limestone__tabs_content-column">
                        <h3 class="limestone__tabs_content-title blue-title">
                            Сельское хозяйство
                        </h3>
                        <p class="limestone__tabs_content-subtitle">
                            Роль известняка:
                        </p>
                        <ul>
                            <li>Известкование и раскисление почв</li>
                            <li>Кормовые добавки (кормовой мел)</li>
                            <li>Улучшение структуры почвы и повышение урожайности</li>
                        </ul>
                    </div>
                    <div class="limestone__tabs_content-image">
                        <img src="../img/webp/tab03.webp" alt="production" />
                    </div>
                </div>
                <div class="limestone__tabs_content content">
                    <div class="limestone__tabs_content-column">
                        <h3 class="limestone__tabs_content-title blue-title">
                            Строительство и дорожные работы
                        </h3>
                        <p class="limestone__tabs_content-subtitle">
                            Роль известняка:
                        </p>
                        <ul>
                            <li>Основание дорог, площадок, подъездных путей</li>
                            <li>Щебёночные и песчано-щебёночные смеси</li>
                            <li>Базовый слой под асфальт и плитку</li>
                            <li>
                                Бетонные и железобетонные изделия (при низкой
                                агрессивности среды)
                            </li>
                        </ul>
                    </div>
                    <div class="limestone__tabs_content-image">
                        <img src="../img/webp/tab04.webp" alt="production" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
