<section class="limestone">
    <div class="limestone__container">
        <div class="limestone__bg bg">
            <div class="limestone__bg_wrapper bg__wrapper">
                <img src="../img/webp/limestone-bg.webp" alt="about-bg" />
            </div>
        </div>
        <div class="limestone__breadcrumbs breadcrumbs">
            <a href="index.html">Главная</a>
            <img src="../img/svg/chevron-right.svg" alt="chevron-right" />
            <span>Продукция</span>
            <img src="../img/svg/chevron-right.svg" alt="chevron-right" />
            <span>Известь негашеная комовая</span>
        </div>
        <h1 class="limestone__title prod__title">Известь негашеная комовая</h1>
    </div>
    <div class="limestone__content">
        <div class="limestone__container">
            <div class="limestone__content_title title">
                Известь строительная воздушная негашеная комовая по ГОСТ
                9179-2018, фракция 5-20 мм. Металлургическая (pH Modifier –
                Lime)
            </div>
            <div class="limestone__columns">
                <div class="limestone__product">
                    <div class="limestone__product_articule">
                        (Код ТН ВЭД 2522100000)
                    </div>
                    <div class="limestone__product_image">
                        <img src="../img/webp/product01.webp" alt="product" />
                    </div>
                    <a href="##" class="limestone__product_submit button submit"
                        >Оставить заявку
                        <img
                            src="../img/svg/chevron-right.svg"
                            alt="chevron-right"
                    /></a>
                </div>
                <div class="limestone__char">
                    <div class="limestone__char_title">
                        Физико-химические характеристики
                    </div>
                    <div class="limestone__grid">
                        <span>Показатель</span>
                        <span>Метод испытаний ГОСТ</span>
                        <span>ГОСТ 9179-2018 (норма стандарта)</span>
                        <span>ТУ для газобетона (дополнение к ГОСТ)</span>
                        <span
                            >Фактические физико-химические характеристики</span
                        >
                        <span>Соответствие требованиям</span>
                        <span>Содержание активных (CaO + MgO), %</span>
                        <span>22688-2018</span>
                        <span>В 1 сорте не менее 90%</span>
                        <span>Не менее 90%</span>
                        <span>91,0-92,5</span>
                        <span>Соответствует</span>
                        <span>Содержание СО2, %</span>
                        <span>22688-2018</span>
                        <span>В 1 сорте не более 3%</span>
                        <span>Не более 3%</span>
                        <span>2,2-2,4</span>
                        <span>Соответствует</span>
                        <span>Активный MgO</span>
                        <span>22688-2018</span>
                        <span>Не более 5%</span>
                        <span>Не более 5%</span>
                        <span>3,99</span>
                        <span>Соответствует</span>
                        <span>Непогасившиеся зерна</span>
                        <span>22688-2018</span>
                        <span>Не более 7%</span>
                        <span>Не более 7%</span>
                        <span>5,10</span>
                        <span>Соответствует</span>
                        <span>Время гашения</span>
                        <span>22688-2018</span>
                        <span>Для 1 сорта не более 8 минут</span>
                        <span>Не более 5 минут</span>
                        <span>1,93</span>
                        <span>Соответствует</span>
                        <span>Температура гашения</span>
                        <span>22688-2018</span>
                        <span>Не нормируется</span>
                        <span>Не нормируется</span>
                        <span>67,5</span>
                        <span>Соответствует</span>
                        <span>Максимальный размер куска</span>
                        <span></span>
                        <span>Не нормируется</span>
                        <span>40 мм</span>
                        <span>20 мм</span>
                        <span>Соответствует</span>
                    </div>
                </div>
            </div>
            <div class="limestone__content_title title">
                Известь строительная воздушная негашеная комовая по ГОСТ
                9179-2018, фракция 60-120 мм (Компонент AAC-Автоклавный
                газобетон)
            </div>
            <div class="limestone__columns">
                <div class="limestone__product">
                    <div class="limestone__product_articule">
                        (Код ТН ВЭД 2522100000)
                    </div>
                    <div class="limestone__product_image">
                        <img src="../img/webp/product02.webp" alt="product" />
                    </div>
                    <a href="##" class="limestone__product_submit button submit"
                        >Оставить заявку
                        <img
                            src="../img/svg/chevron-right.svg"
                            alt="chevron-right"
                    /></a>
                </div>
                <div class="limestone__char">
                    <div class="limestone__char_title">
                        Физико-химические характеристики
                    </div>
                    <div class="limestone__grid">
                        <span>Показатель</span>
                        <span>Метод испытаний ГОСТ</span>
                        <span>ГОСТ 9179-2018 (норма стандарта)</span>
                        <span>ТУ для газобетона (дополнение к ГОСТ)</span>
                        <span
                            >Фактические физико-химические характеристики</span
                        >
                        <span>Соответствие требованиям</span>
                        <span>Содержание активных (CaO + MgO), %</span>
                        <span>ГОСТ 22688-2018</span>
                        <span>В 2 сорте не менее 80%</span>
                        <span>Не менее 80%</span>
                        <span>85,0-89,0</span>
                        <span>Соответствует</span>
                        <span>Содержание СО2, %</span>
                        <span>ГОСТ 22688-2018</span>
                        <span>В 1 сорте не более 4%</span>
                        <span>Не более 4%</span>
                        <span>2,3-2,8</span>
                        <span>Соответствует</span>
                        <span>Активный MgO</span>
                        <span>ГОСТ 22688-2018</span>
                        <span>Не более 5%</span>
                        <span>Не более 5%</span>
                        <span>3,99</span>
                        <span>Соответствует</span>
                        <span>Непогасившиеся зерна</span>
                        <span>ГОСТ 22688-2018</span>
                        <span>Не более 7%</span>
                        <span>Не более 7%</span>
                        <span>5,10</span>
                        <span>Соответствует</span>
                        <span>Время гашения</span>
                        <span>ГОСТ 22688-2018</span>
                        <span>Для 2 сорта не более 8 минут</span>
                        <span>Не более 5 минут</span>
                        <span>7-12 минут</span>
                        <span>Соответствует</span>
                        <span>Температура гашения</span>
                        <span>ГОСТ 22688-2018</span>
                        <span>Не нормируется</span>
                        <span>Не менее 65° С</span>
                        <span>68° С</span>
                        <span>Соответствует</span>
                        <span>Максимальный размер куска</span>
                        <span></span>
                        <span>Не нормируется</span>
                        <span>120 мм</span>
                        <span>120 мм</span>
                        <span>Соответствует</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
