<section class="limestone">
    <div class="limestone__container">
        <div class="limestone__bg bg">
            <div class="limestone__bg_wrapper bg__wrapper">
                <img src="../img/webp/fluffy-bg.webp" alt="about-bg" />
            </div>
        </div>
        <div class="limestone__breadcrumbs breadcrumbs">
            <a href="index.html">Главная</a>
            <img src="../img/svg/chevron-right.svg" alt="chevron-right" />
            <span>Продукция</span>
            <img src="../img/svg/chevron-right.svg" alt="chevron-right" />
            <span>Известь гашеная гидратная (пушонка) порошковообразная</span>
        </div>
        <h1 class="limestone__title prod__title">
            Известь гашеная гидратная (пушонка) порошковообразная
        </h1>
    </div>
    <div class="limestone__content">
        <div class="limestone__container">
            <div class="limestone__content_title title">
                Известь строительная воздушная гашеная (гидратная) кальциевая
                порошкообразная по ГОСТ 9179-2018
            </div>
            <div class="limestone__columns">
                <div class="limestone__product">
                    <div class="limestone__product_articule">
                        (Код ТН ВЭД 2522100000)
                    </div>
                    <div class="limestone__product_image">
                        <img src="../img/webp/product04.webp" alt="product" />
                    </div>
                    <a href="##" class="limestone__product_submit button"
                        >Оставить заявку
                        <img
                            src="../img/svg/chevron-right.svg"
                            alt="chevron-right"
                    /></a>
                </div>
                <div class="limestone__char">
                    <div class="limestone__char_title">
                        Физико-химические характеристики
                    </div>
                    <div class="limestone__grid">
                        <span>Показатель</span>
                        <span>Метод испытаний ГОСТ</span>
                        <span>ГОСТ 9179-2018 (норма стандарта)</span>
                        <span>ТУ для газобетона (дополнение к ГОСТ)</span>
                        <span
                            >Фактические физико-химические характеристики</span
                        >
                        <span>Соответствие требованиям</span>

                        <span>Содержание активных (CaO + MgO), %</span>
                        <span>22688-2018</span>
                        <span>В 1 сорте не менее 67%</span>
                        <span>Не менее 67%</span>
                        <span>68,7</span>
                        <span>Соответствует</span>

                        <span>Содержание СО2, %</span>
                        <span>22688-2018</span>
                        <span>В 1 сорте не более 3%</span>
                        <span>Не более 3%</span>
                        <span>2,76</span>
                        <span>Соответствует</span>

                        <span>Содержание влаги (влажность), %</span>
                        <span>22688-2018</span>
                        <span>В 1 сорте не более 5%</span>
                        <span>В 1 сорте не более 5%</span>
                        <span>1,57</span>
                        <span>Соответствует</span>

                        <span
                            >Степень дисперсности. Проход через сито № 02</span
                        >
                        <span>22688-2018</span>
                        <span>Не менее 98,5%</span>
                        <span>Не менее 98,5%</span>
                        <span>98,63</span>
                        <span>По согласованию с клиентом</span>

                        <span>Степень дисперсности.
                            Проход через сито № 008</span>
                        <span>22688-2018</span>
                        <span>Не менее 85%</span>
                        <span>Не менее 85%</span>
                        <span>95,01</span>
                        <span>По согласованию с клиентом</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
