<section class="partners">
    <div class="partners__container">
        <div class="partners__title title">Партнёры компании</div>
        <div class="partners__swiper">
            <div class="partners__wrapper">
                <!-- Original -->
                <div class="partners__slide"><img src="../img/webp/partner01.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner02.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner03.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner04.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner05.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner06.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner07.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner08.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner09.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner10.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner11.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner12.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner13.webp" alt="partner" /></div>
                <!-- Duplicate -->
                <div class="partners__slide"><img src="../img/webp/partner01.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner02.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner03.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner04.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner05.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner06.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner07.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner08.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner09.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner10.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner11.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner12.webp" alt="partner" /></div>
                <div class="partners__slide"><img src="../img/webp/partner13.webp" alt="partner" /></div>
            </div>
        </div>
    </div>
</section>