<section class="products">
    <div class="products__container">
        <div class="products__titlebox">
            <h2 class="title products__title">Другие товары компании</h2>
            <div class="products__navigation">
                <svg
                    class="products__navigation_prev"
                    width="63"
                    height="30"
                    viewBox="0 0 63 30"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M62 15H4"
                        stroke="#025288"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M8 20L3 15L8 10"
                        stroke="#025288"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
                <svg
                    class="products__navigation_next"
                    width="63"
                    height="30"
                    viewBox="0 0 63 30"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M3 15H61"
                        stroke="#025288"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M57 10L62 15L57 20"
                        stroke="#025288"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
        </div>
        <div class="products__swiper swiper-container">
            <div class="products__wrapper swiper-wrapper">
                <div class="products__slide swiper-slide">
                    <div class="products__slide_img">
                        <img
                            src="../img/webp/production03.webp"
                            alt="product"
                        />
                    </div>
                    <div class="products__slide_text">
                        <h3>Известь негашеная порошкообразная 0,08 мм</h3>
                    </div>
                </div>
                <div class="products__slide swiper-slide">
                    <div class="products__slide_img">
                        <img
                            src="../img/webp/production04.webp"
                            alt="product"
                        />
                    </div>
                    <div class="products__slide_text">
                        <h3>Известь негашеная порошкообразная 60-120 мм</h3>
                    </div>
                </div>
                <div class="products__slide swiper-slide">
                    <div class="products__slide_img">
                        <img
                            src="../img/webp/production05.webp"
                            alt="product"
                        />
                    </div>
                    <div class="products__slide_text">
                        <h3>
                            Известь гашеная гидратная (пушонка)
                            порошкообразная<br />
                            0,08 мм
                        </h3>
                    </div>
                </div>
                <div class="products__slide swiper-slide">
                    <div class="products__slide_img">
                        <img src="../img/webp/crushed01.webp" alt="product" />
                    </div>
                    <div class="products__slide_text">
                        <h3>Известняк 0-3 мм</h3>
                    </div>
                </div>
                <div class="products__slide swiper-slide">
                    <div class="products__slide_img">
                        <img src="../img/webp/crushed02.webp" alt="product" />
                    </div>
                    <div class="products__slide_text">
                        <h3>Известняк 0-10 мм</h3>
                    </div>
                </div>
                <div class="products__slide swiper-slide">
                    <div class="products__slide_img">
                        <img src="../img/webp/crushed03.webp" alt="product" />
                    </div>
                    <div class="products__slide_text">
                        <h3>Известняк 0-25 мм</h3>
                    </div>
                </div>
                <div class="products__slide swiper-slide">
                    <div class="products__slide_img">
                        <img src="../img/webp/crushed04.webp" alt="product" />
                    </div>
                    <div class="products__slide_text">
                        <h3>Известняк 10-25 мм</h3>
                    </div>
                </div>
                <div class="products__slide swiper-slide">
                    <div class="products__slide_img">
                        <img src="../img/webp/crushed05.webp" alt="product" />
                    </div>
                    <div class="products__slide_text">
                        <h3>Известняк 30-50 мм</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
