<section class="prod" id="prod">
    <div class="prod__container">
        <h1 class="page-title prod__title">
            производство извести <br />
            и продуктов из известняка
        </h1>
    </div>
    <div class="prod__content">
        <div class="prod__container">
            <div class="prod__columns">
                <div class="prod__column">
                    <div class="prod__column_image">
                        <img
                            src="../img/webp/prod01.webp"
                            alt="about company"
                        />
                    </div>
                    <div class="prod__column_content">
                        <h2 class="prod__column_title blue-title">
                            О компании
                        </h2>
                        <p class="prod__column_text text">
                            Ведущий промышленный производитель извести и
                            продукции из известняка, осуществляющий полный
                            производственный цикл в Узбекистане.<br /><br />
                            Собственное месторождение известняка обеспечивает
                            устойчивость производства, стабильность поставок и
                            защиту от колебаний цен на сырьевых рынках.
                        </p>
                        <a href="/about.html" class="prod__column_link button"
                            >подробнее о компании
                            <img
                                src="../img/svg/chevron-right.svg"
                                alt="chevron-right"
                        /></a>
                    </div>
                </div>
                <div class="prod__column">
                    <div class="prod__column_image">
                        <img
                            src="../img/webp/prod02.webp"
                            alt="about production"
                        />
                    </div>
                    <div class="prod__column_content">
                        <h2 class="prod__column_title blue-title">
                            О производстве
                        </h2>
                        <p class="prod__column_text text">
                            Промышленное производство извести мощностью до 100
                            000 тонн в год, основанное на полном
                            производственном цикле и собственной сырьевой
                            базе.<br /><br />
                            Системный контроль качества продукции в соответствии
                            с ГОСТ 9179-2018 и международными нормами.
                        </p>
                        <a href="/about.html" class="prod__column_link button"
                            >подробнее о компании
                            <img
                                src="../img/svg/chevron-right.svg"
                                alt="chevron-right"
                        /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
