<section class="production">
    <div class="production__container">
        <div class="production__item">
            <div class="production__columns">
                <div class="production__content">
                    <h2 class="production__title grey-title">Продукция</h2>
                    <h3 class="production__content_title blue-title">
                        Известь
                    </h3>
                    <p class="production__text text">
                        Промышленное качество извести с высокой химической
                        активностью, обеспечивающее надёжность и стабильность
                        технологических процессов в строительстве, металлургии и
                        производстве газобетона.
                    </p>
                    <a class="production__button button desktop-only submit" href="##"
                        >Оставить заявку
                        <img
                            src="../img/svg/chevron-right.svg"
                            alt="chevron-right"
                    /></a>
                    <div class="production__navigation">
                        <svg
                            class="production__navigation_prev"
                            width="63"
                            height="30"
                            viewBox="0 0 63 30"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M62 15H4"
                                stroke="#025288"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M8 20L3 15L8 10"
                                stroke="#025288"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                        <svg
                            class="production__navigation_next"
                            width="63"
                            height="30"
                            viewBox="0 0 63 30"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M3 15H61"
                                stroke="#025288"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M57 10L62 15L57 20"
                                stroke="#025288"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </div>
                </div>
                <div class="production__slider">
                    <div class="production__swiper-1 swiper-container">
                        <div class="production__wrapper swiper-wrapper">
                            <div class="production__slide swiper-slide">
                                <div class="production__slide_img">
                                    <img
                                        src="../img/webp/production01.webp"
                                        alt="product"
                                    />
                                </div>
                                <div class="production__slide_content">
                                    <p>Известь негашеная комовая 5-20 мм</p>
                                </div>
                            </div>
                            <div class="production__slide swiper-slide">
                                <div class="production__slide_img">
                                    <img
                                        src="../img/webp/production02.webp"
                                        alt="product"
                                    />
                                </div>
                                <div class="production__slide_content">
                                    <p>Известь негашеная комовая 60-120 мм</p>
                                </div>
                            </div>
                            <div class="production__slide swiper-slide">
                                <div class="production__slide_img">
                                    <img
                                        src="../img/webp/production03.webp"
                                        alt="product"
                                    />
                                </div>
                                <div class="production__slide_content">
                                    <p>
                                        Известь негашеная порошкообразная 0,08
                                        мм
                                    </p>
                                </div>
                            </div>
                            <div class="production__slide swiper-slide">
                                <div class="production__slide_img">
                                    <img
                                        src="../img/webp/production04.webp"
                                        alt="product"
                                    />
                                </div>
                                <div class="production__slide_content">
                                    <p>
                                        Известь негашеная порошкообразная 60-120
                                        мм
                                    </p>
                                </div>
                            </div>
                            <div class="production__slide swiper-slide">
                                <div class="production__slide_img">
                                    <img
                                        src="../img/webp/production05.webp"
                                        alt="product"
                                    />
                                </div>
                                <div class="production__slide_content">
                                    <p>
                                        Известь гашеная гидратная (пушонка)
                                        порошкообразная 0,08 мм
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="production__button button mobile-only submit" href="##"
                        >Оставить заявку
                        <img
                            src="../img/svg/chevron-right.svg"
                            alt="chevron-right"
                    /></a>
                </div>
            </div>
        </div>
        <div class="production__item">
            <div class="production__columns">
                <div class="production__content">
                    <h3 class="production__content_title blue-title">
                        Известняк дробленый
                    </h3>
                    <p class="production__text text">
                        Прочный и экологичный минеральный материал, получаемый
                        путём дробления природного известняка. Отличается
                        стабильным химическим составом, высоким содержанием
                        карбоната кальция (CaCO₃) и однородностью фракций.
                        Применяется как сырьё, наполнитель, флюс или
                        технологическая добавка в различных производственных
                        процессах.
                    </p>
                    <a class="production__button button desktop-only submit" href="##"
                        >Оставить заявку
                        <img
                            src="../img/svg/chevron-right.svg"
                            alt="chevron-right"
                    /></a>
                    <div class="production__navigation">
                        <svg
                            class="production__navigation_prev-1"
                            width="63"
                            height="30"
                            viewBox="0 0 63 30"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M62 15H4"
                                stroke="#025288"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M8 20L3 15L8 10"
                                stroke="#025288"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                        <svg
                            class="production__navigation_next-1"
                            width="63"
                            height="30"
                            viewBox="0 0 63 30"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M3 15H61"
                                stroke="#025288"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                            <path
                                d="M57 10L62 15L57 20"
                                stroke="#025288"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </div>
                </div>
                <div class="production__slider">
                    <div class="production__swiper-2 swiper-container">
                        <div class="production__wrapper swiper-wrapper">
                            <div class="production__slide swiper-slide">
                                <div class="production__slide_img">
                                    <img
                                        src="../img/webp/crushed01.webp"
                                        alt="product"
                                    />
                                </div>
                                <div class="production__slide_content">
                                    <p>Известь негашеная комовая 5-20 мм</p>
                                </div>
                            </div>
                            <div class="production__slide swiper-slide">
                                <div class="production__slide_img">
                                    <img
                                        src="../img/webp/crushed02.webp"
                                        alt="product"
                                    />
                                </div>
                                <div class="production__slide_content">
                                    <p>Известь негашеная комовая 60-120 мм</p>
                                </div>
                            </div>
                            <div class="production__slide swiper-slide">
                                <div class="production__slide_img">
                                    <img
                                        src="../img/webp/crushed03.webp"
                                        alt="product"
                                    />
                                </div>
                                <div class="production__slide_content">
                                    <p>
                                        Известь негашеная порошкообразная 0,08
                                        мм
                                    </p>
                                </div>
                            </div>
                            <div class="production__slide swiper-slide">
                                <div class="production__slide_img">
                                    <img
                                        src="../img/webp/crushed04.webp"
                                        alt="product"
                                    />
                                </div>
                                <div class="production__slide_content">
                                    <p>
                                        Известь негашеная порошкообразная 60-120
                                        мм
                                    </p>
                                </div>
                            </div>
                            <div class="production__slide swiper-slide">
                                <div class="production__slide_img">
                                    <img
                                        src="../img/webp/crushed05.webp"
                                        alt="product"
                                    />
                                </div>
                                <div class="production__slide_content">
                                    <p>
                                        Известь гашеная гидратная (пушонка)
                                        порошкообразная 0,08 мм
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="production__button button mobile-only submit" href="##"
                        >Оставить заявку
                        <img
                            src="../img/svg/chevron-right.svg"
                            alt="chevron-right"
                    /></a>
                </div>
            </div>
        </div>
        <div class="production__certificate">
            <h2 class="production__certificate_title title">
                Сертификаты соответствия
            </h2>
            <div class="production__certificates swiper-container">
                <div class="production__certificates_wrapper swiper-wrapper">
                    <div class="production__certificates_image swiper-slide">
                        <a
                            href="../img/webp/certificate02.webp"
                            data-fancybox="certificates"
                        >
                            <img
                                src="../img/webp/certificate02.webp"
                                alt="certificate"
                            />
                        </a>
                    </div>
                    <div class="production__certificates_image swiper-slide">
                        <a
                            href="../img/webp/certificate01.webp"
                            data-fancybox="certificates"
                        >
                            <img
                                src="../img/webp/certificate01.webp"
                                alt="certificate"
                            />
                        </a>
                    </div>
                    <div class="production__certificates_image swiper-slide">
                        <a
                            href="../img/webp/certificate03.webp"
                            data-fancybox="certificates"
                        >
                            <img
                                src="../img/webp/certificate03.webp"
                                alt="certificate"
                            />
                        </a>
                    </div>
                </div>
                <div class="production__pagination swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
