<section class="truck">
    <div class="truck__container">
        <div class="truck__title">
            Поставка гашёной гидратной порошкообразной извести
        </div>
        <div class="truck__columns">
            <div class="truck__content">
                <div class="truck__content_item">
                    <h3 class="truck__content_title blue-title">
                        Автомобильным транспортом (самосвалы)
                    </h3>
                    <p class="truck__content_text">
                        Поставка осуществляется навалом самосвалами. Данный
                        способ удобен для оперативной доставки на строительные
                        объекты и промышленные площадки, а также для средних и
                        малых объёмов.
                    </p>
                </div>
                <div class="truck__content_item">
                    <h3 class="truck__content_title blue-title">
                        Железнодорожным транспортом (полувагоны)
                    </h3>
                    <p class="truck__content_text">
                        Поставка осуществляется навалом в железнодорожных
                        полувагонах. Полная загрузка одного вагона составляет до
                        69 тонн, что является оптимальным решением для крупных и
                        регулярных поставок на дальние расстояния.
                    </p>
                    <p style="font-weight: 600">
                        По согласованию возможна организация регулярных
                        поставок, а также подбор оптимального способа доставки в
                        зависимости от объёма.
                    </p>
                </div>
            </div>
            <div class="truck__image">
                <img src="../img/webp/truck01.webp" alt="truck" />
            </div>
        </div>
    </div>
</section>
