<section class="truck">
    <div class="truck__container">
        <div class="truck__title">Поставка негашёной порошкообразной извести</div>
        <div class="truck__columns">
            <div class="truck__content">
                <div class="truck__content_item">
                    <h3 class="truck__content_title blue-title">
                        Автоцементовоз
                    </h3>
                    <p class="truck__content_text">
                        Известь подаётся из силоса на загрузочный узел и
                        пневмосистемой нагнетается в автоцементовоз. Перевозится
                        навалом в герметичной пневмоцистерне, что исключает
                        контакт с влагой и обеспечивает безопасную
                        транспортировку.
                    </p>
                </div>
                <div class="truck__content_item">
                    <h3 class="truck__content_title blue-title">
                        Тентованные полуприцепы (еврофуры)
                    </h3>
                    <p class="truck__content_text">
                        Поставка осуществляется в биг-бэгах (МКР) 900–1000 кг с
                        внутренним полиэтиленовым вкладышем, защищающим продукт
                        от влаги и CO₂. Доставка выполняется на бортовых или
                        тентованных полуприцепах.
                    </p>
                </div>
                <div class="truck__content_item">
                    <h3 class="truck__content_title blue-title">
                        Железнодорожный полувагон (69 т)
                    </h3>
                    <p class="truck__content_text">
                        В полувагон размещают около 72 биг-бэгов по 900-1 000
                        кг, в один или два яруса — согласно типу вагона и высоте
                        мешков.
                    </p>
                </div>
            </div>
            <div class="truck__image">
                <img src="../img/webp/truck01.webp" alt="truck" />
            </div>
        </div>
    </div>
</section>
