<section class="truck">
    <div class="truck__container">
        <div class="truck__title">Поставка негашёной комовой извести</div>
        <div class="truck__columns">
            <div class="truck__content">
                <div class="truck__content_item">
                    <h3 class="truck__content_title blue-title">
                        Самосвалы или тентованные полуприцепы
                    </h3>
                    <p class="truck__content_text">
                        Продукция отгружается навалом с учётом погодных условий.
                    </p>
                </div>
                <div class="truck__content_item">
                    <h3 class="truck__content_title blue-title">
                        Тентованные полуприцепы (еврофуры)
                    </h3>
                    <p class="truck__content_text">
                        Фасованная негашёная известь поставляется в многослойных
                        бумажных или полипропиленовых мешках с влагозащитой.
                        Мешки укладываются на поддоны весом 1–1,5 т, затем
                        паллеты обматываются стрейч-плёнкой.
                    </p>
                </div>
                <div class="truck__content_item">
                    <h3 class="truck__content_title blue-title">
                        Железнодорожный полувагон
                    </h3>
                    <p class="truck__content_text">
                        Поставки в железнодорожных полувагонах требуют
                        предварительной подготовки вагона, так как полувагон
                        является открытым типом подвижного состава.
                    </p>
                </div>
                <div class="truck__content_item">
                    <h3 class="truck__content_title blue-title">Хранение</h3>
                    <p class="truck__content_text">
                        Гарантийный срок хранения негашеной извести
                        порошкообразной (молотой) - 30 дней с момента отгрузки.
                        Срок годности при соблюдении условий хранения - 2
                        месяцев с момента отгрузки.
                    </p>
                </div>
            </div>
            <div class="truck__image">
                <img src="../img/webp/truck01.webp" alt="truck">
            </div>
        </div>
    </div>
</section>
